body {

    background-color: black;
    background-image: url(genie.jpeg);
    background-size: 800px;
    background-repeat: no-repeat;
}

h2 {
    background-color: #2999e47f;
    color: whitesmoke;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 20px;
    margin: 0px;
    z-index: 0;
}

input {
    background-color: lightgreen;
}

label {
    background-color: #2999e47f;
    color: whitesmoke;
    text-align: center;
}

h3 {
    background-color: #dee4a13f;
    color: rgb(255, 255, 255);
    text-align: justify;
    font-size: large;
    width: fit-content;
}

li, p {
    width: fit-content;
    background-color: #dee4a13f;
    color: rgb(255, 255, 255);
    text-align: justify;
    font-size: small;
}

.bottomText {
    background-color: rgba(247, 217, 217, 0.3);
    bottom: 3%;
    color: darkblue;
    font-size: large;
    font-weight: 650;
    left: 10%;
    margin: 3px;
    position: absolute;
    padding: none;
    z-index: 1;
}

.container {
    position: relative;
    width: 200px;
}

.customContainer {
    position: relative;
    bottom: 10px;
    width: 250px;
    z-index: 0;
}

.hidden {
    display: none !important;
    top: 2%;
}

.remove {
    background-color: rgba(239, 6, 6, 0.75);
    bottom: 3%;
    color: white;
    display: flex;
    position: absolute;
    right: -40%;
    z-index: 2;
}

.topText {
    background-color: rgba(247, 217, 217, 0.3);
    color: darkblue;
    font-size: large;
    font-weight: 650;
    left: 10%;
    margin: 3px;
    position: absolute;
    text-align: center;
    top: 3%;
    z-index: 1;
}

#hidden {
    display: none;
}

#mainContainer {
    position: relative;
    width: fit-content;
}

#remove {
    background-color: rgba(239, 6, 6, 0.75);
    bottom: 3%;
    color: white;
    display: flex;
    position: absolute;
    right: -40%;
    z-index: 2;
}

#reload {
    background-color: maroon;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 949;
    position: absolute;
    right: 2%;
    text-decoration: none;
}

#google {
    background-color: lime;
    border-radius: 5px;
    color: navy;
    font-weight: 949;
    position: absolute;
    right: 18%;
    text-decoration: none;
}


#submit {
    background-color: darkgreen;
    color: white;
    font-size: x-large;
    font-weight: 650;
}